//
//  Config.xcconfig
//  F1 Stats
//
//  Created by David Melero Morant on 26/9/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

//API KEY
API_KEY = 7cbd4ede846c2a26675a0ac08b25cc2d
API_KEY_HEADER = x-apisports-key

//URL
URL_BASE = https:/$()/v1.formula-1.api-sports.io/
URL_RANK_DRIVERS = rankings/drivers?season=2022
URL_RANK_TEAMS = rankings/teams?season=2022
URL_RACES = races?type=race&next=30&season=2022
URL_PAST_RACES = races?type=race&last=30&season=2022
URL_CIRCUITS = circuits
URL_DRIVER = drivers?id=
